<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbleChat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C70C9B6910C05E684C5F9D4C7EE244042C63B8A0</string>
				<key>dateExpires</key>
				<string>9/16/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C70C9B6910C05E684C5F9D4C7EE244042C63B8A0</string>
						<key>dateExpires</key>
						<string>9/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcCryptoLoader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YB3776WFVA</string>
						<key>name</key>
						<string>Able Soft LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C70C9B6910C05E684C5F9D4C7EE244042C63B8A0</string>
						<key>dateExpires</key>
						<string>9/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YB3776WFVA</string>
						<key>name</key>
						<string>Able Soft LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C70C9B6910C05E684C5F9D4C7EE244042C63B8A0</string>
						<key>dateExpires</key>
						<string>9/16/21</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YB3776WFVA</string>
						<key>name</key>
						<string>Able Soft LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YB3776WFVA.com.AbleSoft.AbleChat</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.iCoud.com.able.mn.AbleChat</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>YB3776WFVA</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.iCoud.com.able.mn.AbleChat</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>YB3776WFVA.com.AbleSoft.AbleChat</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Able Rooms.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>df3127d0-eee8-4c8c-93ec-beffb0b730d4</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.AbleSoft.AbleChat</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YB3776WFVA</string>
				<key>name</key>
				<string>Able Soft LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
